.element__btn {
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-image: url("../../../images/heartt.svg");
  background-repeat: no-repeat;
  background-size: 22px 19px;
  background-position: center;
  border-color: transparent;
}

.element__btn:hover {
  opacity: 0.5;
  cursor: pointer;
}